:root {
  --dark-green: #2C3E50;
  --green: #1ABC9C;
  --white: #FFFFFF;
  --dark: #333333;
}

/* debug utility */
/* [class^="row"],
[class^="col"] {
  background-color: rgba(225, 58, 58, 0.2);
  border: 1px solid black;
  } */


.debug {
  border: 1px solid rgb(0, 0, 0);
}
  
/*  /debug utility */ 

 .container_sp {
  margin: 0 auto;
  width: 60%;
 }

 /* utilities */

.dark-green_bg {
  background-color: var(--dark-green);
}

.green_bg {
  background-color: var(--green);
}

.white_bg {
  background-color: var(--white);
}

.dark_bg {
  background-color: var(--dark);
}

.white_txt {
  color: var(--white);
}

.dark_txt {
  color: var(--dark);
}



 /* utilities */


header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 80px;
}


.nav_sp:first-of-type a:hover {
  color: var(--white)
}

.nav_sp :not(:first-child) a:hover {
  color: var(--green);
}
  /* hero section  */

section#hero_ {
  padding-top: 100px;
}

section#hero_ .image {
  width: 200px;
} 


   /* star element */

.star {
  width: 30%;
  height: 3px;
  border-radius: 5px;
  position: relative;
}

.star i {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /hero section  */
/* portfolio section  */

#portfolio .image {
  position: relative;
  cursor: pointer;
}

.overlay,
.plus {
  display: none;
}


.image:hover .overlay {
  display: block;
  background-color: rgba(26, 188, 156, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} 

.image:hover .plus {
  display: block;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

